
#root {
    height: 100vh;
    width: 100%;
    background-color: #F1F1F1;
}

.uploader {
    display: grid;
    height: 100%;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    grid-template-rows: repeat( auto-fit, minmax(100px, 1fr) );
    align-items: center;
    place-items: center;
}